.idea/
*.swp
envs/sonarqube-ce-server/templates/configs/sonar.properties
envs/sonarqube-ce-server/templates/scripts/create_users.sh
envs/sonarqube-ce-server/templates/scripts/init_sonar.sh
envs/sonarqube-ce-server/templates/scripts/prepare_admin_credentials.sh
envs/sonarqube-ce-server/templates/scripts/config_sonar_options.sh
envs/sonarqube-ce-server/templates/scripts/init_tokens.sh
