#!/bin/bash

source "$(dirname $0)"/automation_tools.sh

if [[ -z "$sonar_admin_password" ]]; then
   admin_user_or_token="$sonar_admin_token"
   admin_password=""
elif [[ -z "$sonar_admin_token" ]]; then
   admin_user_or_token={{ sonar_server_config.admin.username }}
   admin_password="$sonar_admin_password"
else
   echo "An Admin Token or Password should be provided" >&2
fi

set_options -a "$admin_user_or_token" -c "$admin_password" {% for option in sonar_server_config.options %} {{ option.key }}={{ option.value }} {% endfor %}