#!/bin/bash

source "$(dirname $0)"/automation_tools.sh

is_configured=$(is_database_configured)
if [[ "$is_configured" == "0" ]]; then
  init_database
  link_database_configs
  start_database
fi

sonar_exists=$(check_database_exists -n {{ sonar_server_config.sonar_db_name }})
if [[ "$sonar_exists" == "1" ]]; then
  create_database -n {{ sonar_server_config.sonar_db_name }} -u {{ sonar_server_config.sonar_db_user }} -p {{ sonar_server_config.sonar_db_pass }}
fi

