#!/bin/bash

source "$(dirname $0)"/automation_tools.sh

if [[ -z "$sonar_admin_password" ]]; then
   admin_user_or_token="$sonar_admin_token"
   admin_password=""
elif [[ -z "$sonar_admin_token" ]]; then
   admin_user_or_token={{ sonar_server_config.admin.username }}
   admin_password="$sonar_admin_password"
else
   echo "An Admin Token or Password should be provided" >&2
fi

{% for user in sonar_server_config.users %}
generated_token=$(create_user_token_simple -a "$admin_user_or_token" -c "$admin_password" {{ user.username }} {{ user.username }}-token)
echo "$generated_token" > "$(dirname $0)"/{{ user.username }}.token
{% endfor %}