#!/bin/bash
# shellcheck disable=SC1090
source "$(dirname $0)"/automation_tools.sh

sonar_started=$(has_sonar_already_started)
if [[ "$sonar_started" == "0" ]]; then
   generated_password="$(generate_password)"
   new_password=$(change_password_simple -a {{ sonar_server_config.admin.username }} -c {{ sonar_server_config.admin.previous_password }} {{ sonar_server_config.admin.username }} {{ sonar_server_config.admin.previous_password }} "$generated_password")
   generated_token="$(create_user_token_simple -a {{ sonar_server_config.admin.username }} -c $new_password {{ sonar_server_config.admin.username }} {{ sonar_server_config.admin.username }}-token)"
   echo -n "$generated_token"
else
   # DEBUG: For now, I rely on fact that admin token is set on groups/sonar-ce.yaml to tmp. You should fix and read from correct file
   echo -n "$(cat /tmp/sonar_admin_token)"
fi

